.overlay {
  z-index: 3;
  position: fixed;
  background-color: black;
  height: 100vh;
  width: 100vw;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  animation: opacity-appear 0.5s forwards;
}

@keyframes opacity-appear {
  from {
    opacity: 25%;
  }

  to {
    opacity: 50%;
  }
}

.editCard {
  z-index: 3;
  position: fixed;
  top: 50%;
  left: 50%;
  transform-origin: left top;

  background-color: #303338;
  padding: 2rem;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;

  animation: bounceIn 0.2s ease-out both;
}

@keyframes bounceIn {
  0% {
    transform: scale(0.5) translate(-50%, -50%);
    opacity: 0;
  }
  70% {
    transform: scale(1.05) translate(-50%, -50%);
    opacity: 1;
  }
  100% {
    transform: scale(1) translate(-50%, -50%);
  }
}

.inputGroup {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 1rem;
}

.editTitle {
  font-size: 1.5rem;
  color: white;
  font-weight: 600;
}

.editSubTitle {
  color: white;
  font-size: 0.9rem;
  color: gray;
  text-align: center;
}

.label {
  color: gray;
  font-size: 0.95rem;
  font-weight: 600;
}

.input {
  border: none;
  background-color: var(--dark-grey);
  padding: 0.5rem;
  font-family: inherit;
  color: white;
}

.input:focus {
  border: none;
  outline: none;
}

.actionButtonContainer {
  display: flex;
  width: 100%;
  justify-content: end;
  gap: 1rem;
  margin-top: 2rem;
}

.cancel {
  border: none;
  background-color: transparent;
  color: white;
  font-family: inherit;
  padding: 0.5rem 2rem;
  font-size: 1rem;
  font-weight: 600;
}

.done {
  border: none;
  background-color: var(--blue);
  color: white;
  font-family: inherit;
  border-radius: 5px;
  padding: 0.5rem 2rem;
  font-size: 1rem;
  font-weight: 600;
}

.cancel:hover,
.done:hover {
  cursor: pointer;
  filter: brightness(90%);
}

.profileImg {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  object-fit: cover;
}

.imgInputGroup {
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.changePic {
  color: var(--blue);
  text-decoration: underline;
}

.changePic:hover {
  cursor: pointer;
  filter: brightness(90%);
}

@media (max-width: 900px) {
  .editCard {
    width: 60%;
  }
}
