.messageList {
  background-color: var(--dark-grey);
  color: white;
  padding: 2rem 1rem;
  min-width: 15rem;
  width: 100%;
  max-width: 20rem;
  display: flex;
  flex-direction: column;
  border-right: 2px solid var(--border-color);
}

.profileIcon {
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
  object-fit: cover;
}

.groupIcon {
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
  object-fit: cover;
  background-color: var(--blue);
}

.messageTab,
.nameAndDateContainer {
  display: flex;
  align-items: center;
}

.messageTab {
  gap: 1rem;
  padding: 1rem;
  border-radius: 5px;
  border: 1px solid var(--dark-grey);
  overflow: hidden;
}

.messageTab:hover {
  cursor: pointer;
}

.selected {
  border: 1px solid var(--blue);
}

.nameAndDateContainer {
  justify-content: space-between;
}

.tabTitle {
  font-size: 1.5rem;
  font-weight: 600;
}

.name {
  font-size: 1.25rem;
  font-weight: 400;
  color: #fefefe;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.lastTextAndDate {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: stretch;
  font-size: 0.7rem;
  font-weight: 300;
  color: #7c7f80;
}

.lastText {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.date {
  text-align: end;
}

.info {
  flex: 1;
  max-width: 13.77rem;
}

.inputContainer {
  display: flex;
  justify-content: center;
  padding: 1rem 0;
  margin-bottom: 2rem;
  background-color: #202426;
  border-radius: 15px;
  border: 2px solid var(--border-color);
  position: relative;
}

.input {
  background-color: #202426;
  border: none;
  color: var(--blue);
  text-align: center;
  width: 100%;
}

.input:focus {
  border: none;
  outline: none;
}

.tabsContainer {
  overflow-y: scroll;
}

.titleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.addRoom {
  font-weight: 500;
  background-color: var(--blue);
  border-radius: 5px;
  padding: 0.1rem 1rem;
}

.addRoom:hover {
  cursor: pointer;
  filter: brightness(90%);
}

@media (max-width: 900px) {
  .messageList {
    width: auto;
    max-width: none;
    min-width: none;

    height: calc(100% - 80px);
    padding: 0 1rem;
    border: none;
  }
  .inputContainer {
    margin-top: 1rem;
  }
  .tabsContainer {
    flex-grow: 1;
  }

  .info {
    max-width: none;
  }

  .lastTextAndDate {
    font-size: 1rem;
  }
}
